# Node.js dependencies
node_modules/

# macOS system files
.DS_Store

# Logs
*.log

# Environment variables
.env

#intelliJ out
.idea

#prevent database changes


#machine learning model
#/model/

# Build directories
build/
dist/
