.pop-up-notification {
    position: fixed;
    bottom: 110px;
    right: 20px;
    width: 300px;
    background-color: white;
    color: #ffcb59;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.5s;
}

.pop-up-notification::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Position it at the bottom */
    right: 30px; /* Adjust this to position the tail */
    width: 0; 
    height: 0;
    border-width: 10px; /* Size of the tail */
    border-style: solid;
    background-color: transparent;
    border-color: white transparent transparent transparent; /* Match bubble color */
  }

.pop-up-content {
    padding: 15px;
    text-align: center;
}

.pop-up-content p {
    margin: 0;
    font-size: 16px;
}

@keyframes fadeIn {
    from {
        opacity:0;
    } else {
        opacity:1;
    }
}

.delivery-button-container {
    width: 70px; /* Set the width of the container */
    height: 70px; /* Set the height of the container */
    background-color: #FFC94D; /* Set the yellow color */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 50%; /* Make it round */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    
}

.delivery-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #FFCB59;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delivery-button-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}