/* General styles */
.navbar-container {
    position: relative;
  }

.menu-dropdown {
display: none;
position: absolute;
top: 40px;
right: 0;
background-color: #FFCB59;
border: 1px solid #ddd;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
width: 150px;
z-index: 1000;
}

.menu-dropdown.open {
display: block;
}

.menu-dropdown ul {
list-style: none;
margin: 0;
padding: 10px 0;
}

.menu-dropdown li {
padding: 10px 20px;
color: white;
}

.menu-dropdown li {
padding: 10px 20px;
color: white;
}

.menu-dropdown li a {
text-decoration: none;
color: #333;
}

.menu-dropdown li a:hover {
color: #007bff;
}

.right-icons {
display: flex;
gap: 15px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .hamburger-icon {
        display: block;
    }
    
    .menu-dropdown {
        display: none;
    }
    
    .menu-dropdown.open {
        display: block;
    }
}