/* General styles */
.navbar-container {
    position: relative;
  }

.content {
    padding: 10px 20px;
}

.content h2 {
    padding-left: 20px;
}
.menu-dropdown ul {
    list-style: none;
}

.menu-dropdown li {
    display: flex;
    padding: 10px 20px;
    font-size: large;
    color: white;
    border-radius: 10px;
    vertical-align: middle;
    justify-content: left;
}

.menu-dropdown li:hover {
    padding: 10px 20px;
    background-color: #ffb618;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.right-icons {
display: flex;
gap: 15px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .material-symbols-rounded .hamburger-icon {
        display: block;
    }

    .menu-dropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFCB59;
        color: white;
        z-index: 1000;
        overflow-y: auto;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        padding-top: 50px;
    }
    
    .menu-dropdown.open {
        display: block;
        transform: translateY(0);
    }
}